{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot get a Funeral Expenses Payment if you are not getting, or waiting to hear about, a qualifying benefit
      </h1>

      <p>
        You need to be getting, or waiting to hear about, a qualifying benefit to get a Funeral Expenses Payment.
      </p>

      <p>
        [do we want an option to have a proof of application]
      </p>

      <p>
        [do we want to sign post to other support available]
      </p>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        [button to end application]
      </button>
      
    </div>
  </div>

{% endblock %}
