{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/director-answer-v5" method="post">

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <!-- <div class="govuk-notification-banner__header"> -->
            <!-- <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              
            </h2> -->
            <div class="govuk-notification-banner__content">
              <p class="govuk-body">
                Would you expect to use a Funeral Director to arrange the funeral, or would you use an organisation or do it yourself?
              </p>
            </div>
          <!-- </div> -->
        </div>
     
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "director",
            values: data["director"],
            fieldset: {
              legend: {
                text: "Are you using a funeral director?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
