{% extends "layouts/main.html" %}

{% block pageTitle %}
  Items not on bill – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if (data['documents'] == "bill" or data['funeraltakenplace'] == "yes") %}

        <form class="form" action="/v5/funeral/claim-travel" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "billinyourname",
            values: data["billinyourname"],
            fieldset: {
              legend: {
                text: "Excluding items listed in the funeral bill, are there other costs you've had to pay?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                hint: {
                  text: "We will contact you if we can help pay for these costs."
                }
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
  
        </form>

          {% else %}

          <form class="form" action="/v5/funeral/claim-travel-in-future" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "billinyourname",
            values: data["billinyourname"],
            fieldset: {
              legend: {
                text: "Excluding items listed in the signed contract, are there other costs you've had to pay?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                hint: {
                  text: "We will contact you if we can help pay for these costs."
                }
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {% endif %}

    </div>
  </div>

{% endblock %}
