{% extends "layouts/main.html" %}

{% block pageTitle %}
  Items not on bill – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v5/funeral/claim-travel" method="post">

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <!-- <div class="govuk-notification-banner__header"> -->
            <!-- <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              
            </h2> -->
            <div class="govuk-notification-banner__content">
              <p class="govuk-body">
                What items do you feel would not be included on a funeral bill?
              </p>
            </div>
          <!-- </div> -->
        </div>

      {% if (data['documents'] == "bill") %}

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "billinyourname",
            values: data["billinyourname"],
            fieldset: {
              legend: {
                text: "Excluding items listed in the funeral bill, are there other costs you've had to pay?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                hint: {
                  text: "We will contact you if we can help pay for these costs."
                }
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {% endif %}

        {% if (data['documents'] == "contract") %}

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "billinyourname",
            values: data["billinyourname"],
            fieldset: {
              legend: {
                text: "Excluding items listed in the signed contract, are there other costs you've had to pay?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                hint: {
                  text: "We will contact you if we can help pay for these costs."
                }
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {% endif %}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
