{% extends "layouts/main.html" %}

{% block pageTitle %}
  Bill in your name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <p>Journey yet to be prototyped</p>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "wasbillinyourname",
            values: data["wasbillinyourname"],
            fieldset: {
              legend: {
                text: "Was the funeral bill in your name?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
