{% extends "layouts/main.html" %}

{% block pageTitle %}
  Are you on benefits – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/benefityesno-answer" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you getting, or waiting to hear about about, any of these benefits?
            </h1>
          </legend>
          <ul class="govuk-list govuk-list--bullet">
            <li>Universal Credit</li>
            <li>Income Support</li>
            <li>income-based Jobseeker's Allowance</li>
            <li>income-relayed Employment and Support Allowance</li>
            <li>Pension Credit</li>
            <li>Housing Benefit</li>
            <li>the disability or severe disability element of Working Tax Credit</li>
            <li>Child Tax Credit</li>
          </ul>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="benefityesno" name="benefityesno" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="benefityesno">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="benefityesno" name="benefityesno" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="benefityesno">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div> 

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
