{% extends "layouts/main.html" %}

{% block pageTitle %}
  Relationship – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/their-relationship-answer" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "theirrelationship",
        values: data ["theirrelationship"],
        fieldset: {
          legend: {
            text: "What is your relationship to the person who died?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "partner",
            text: "I'm their partner"
          },
          {
            value: "child",
            text: "I'm their child"
          },
          {
            value: "parent",
            text: "I'm their parent"
          },
          {
            value: "relative",
            text: "I'm another relative or friend"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
