{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Get help with funeral costs",
        href: "#"
      },
      {
        text: "Check eligibility"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check if you could get a Funeral Expenses Payment
      </h1>

      <p>You'll need to tell us:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your relationship to the person who died</li>
        <li>what benefits you're getting or waiting to hear about</li>
        <li>if the person who died had a partner or any other close relatives</li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-6"></p>

      {{ govukButton({
        text: "Start now",
        href: "/v3/checker/benefits-you",
        isStartButton: true
      }) }}

{% endblock %}
