{% extends "layouts/main.html" %}

{% block pageTitle %}
  You may be eligible Funeral Expenses Payment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/index" method="post">

        <h1 class="govuk-heading-l">You may be eligible for a Funeral Expenses Payment</h1>
        <p clas="govbody">To confirm if you're eligible you'll need to make a claim.</p>

        {% if (data['survivingbabyparent'] == "yes" and data['howold'] == "stillborn") %}
        <p class="govuk-body">If you make a claim, you will need to tell us about you and the other parent.</p>
        {% endif %}

        <h2 class="govuk-heading-m govuk-!-padding-top-2">How to claim</h2>

        <p><a href="/v3/gov/make-a-claim" class="govuk-link">Get help with funeral costs by phone or post</a></p>

        <h2 class="govuk-heading-m">Other help when a baby, child or young adult dies</h2>
        <p>There is more support available, depending on the location of the funeral.</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">England</h3>
        <p><a href="https://www.gov.uk/child-funeral-costs" class="govuk-link">The Children’s Funeral Fund for England</a> can help to pay for some of the costs of a funeral.</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Wales</h3>
        <p>Families in Wales that have registered the death will be entitled to receive £500 as a contribution towards the funeral and other related costs. The Registrar will arrange this payment for you.</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Northern Ireland</h3>
        <P><a href="https://www.nidirect.gov.uk/articles/child-funeral-fund" class="govuk-link">The Child Funeral Fund</a> provides a one-off lump sum payment of £3,056 to cover the expense of a funeral.</P>


        <p class="govuk-body govuk-!-margin-bottom-6"></p>

      </form>

    </div>
  </div>

{% endblock %}
