{% extends "layouts/main.html" %}
 
{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
 
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
 
{% block content %}
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 
      <form class="form" action="/v8/funeral/claim-travel" method="post">
 
        <h1 class="govuk-heading-l">
          How much did you pay?
        </h1>
 
        {% if ((data['other-costs'] | string).includes("flowers")) %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="cost">
            Flowers or wreath (optional)
          </label>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
        </div>
        </div>
        {% endif %}

        {% if ((data['other-costs'] | string).includes("service-sheet")) %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="cost">
            Service sheet (optional)
          </label>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
          </div>
        </div>
        {% endif %}

        {% if ((data['other-costs'] | string).includes("other")) %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="cost">
            Other - {{ data['other-cost-description'] }} (optional)
          </label>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
        </div>
        </div>
        {% endif %}
 
 
        {{ govukButton({
          text: "Continue"
        }) }}
 
      </form>
 
    </div>
  </div>
 
{% endblock %}
