{% extends "layouts/main.html" %}

{% block pageTitle %}
  Added parent – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if (data['ifm'] == "parent") %}
 
    <form class="form" action="/add-2nd-parent-no-child-answer" method="post"> 

    {% else %}

    <form class="form" action="/add-2nd-parent-answer" method="post">
    
    {% endif %}

          <h1 class="govuk-heading-xl">You have added 1 parent</h1>

            <div class="govuk-form-group">
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
       
                <div class="govuk-summary-list__row">
                     <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key" style="width: 20%;">
                       {{ data['fullnameparent1'] }}
                     </dt>
       
                 {% if (data['whatbenefitsparent'] == "no") %}          
                     
                       <dd class="govuk-summary-list__value" style="width: 25%;">
                         Not receiving qualifying benefit
                       </dd>
       
                 {% elseif (data['whatbenefitsparent'] == "yes") %}
       
                       <dd class="govuk-summary-list__value" style="width: 25%;">
                         Qualifying benefit
                       </dd>
       
                 {% elseif (data['parentexemption'] == "no") %}
       
                       <dd class="govuk-summary-list__value" style="width: 25%;">
                         Not receiving qualifying benefit
                       </dd>
       
                 {% elseif (data['relationshipbrokendown'] == "yes") %}
       
                       <dd class="govuk-summary-list__value" style="width: 25%;">
                         Relationship broken down
                       </dd>
                 
                 {% elseif (data['parentonqb'] == "dontknow") %}
       
                       <dd class="govuk-summary-list__value" style="width: 25%;">
                         Don't know about benefits
                       </dd>
                       
                 {% else %}
       
                       <dd class="govuk-summary-list__value" style="width: 25%;">
                         {{ data['parentexemption'] }}
                       </dd>
       
                 {% endif %}
       
                 <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                   <ul class="govuk-summary-list__actions-list">
                     <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Jeremy Winter</span></a></li>
                     <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Jeremy Winter from the list</span></a></li>
                   </ul>
                 </dd>
                </div>
              </dl>
            </div>

          {% from "govuk/components/radios/macro.njk" import govukRadios %}
    
          {{ govukRadios({
            name: "parenttwo",
            values: data["parenttwo"],
            fieldset: {
              legend: {
                text: "Does the person who died have any other surviving parents?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "Do not include yourself or your current partner (if you are parents)."
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no", 
                text: "No"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
