{% extends "layouts/main.html" %}

{% block pageTitle %}
  Claim travel – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/claimtravel-answer" method="post">

      <h1 class="govuk-heading-l">
        Travel expenses
      </h1>
      <p class="govuk-body">
        You can claim travel expenses for one journey, either to attend or arrange the funeral.
      </p>
      <p class="govuk-body">
        If you travelled by public transport or taxi you may need to provide receipts.
      </p>
      
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "claimtravel",
            values: data["claimtravel"],
            fieldset: {
              legend: {
                text: "Do you want to claim travel expenses now?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "[placeholderhint]"
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
