{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v4/funeral/bill-in-your-name" method="post">


        {% if (data['director'] == "yes") %}
        
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "contactdirector",
            fieldset: {
              legend: {
                text: "Can we get in contact with the funeral director if we need more information?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {% endif %}

        {% if (data['director'] == "no") %}
        
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "contactdirector",
            fieldset: {
              legend: {
                text: "Can we get in contact with them we need more information?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
