{% extends "layouts/main.html" %}

{% block pageTitle %}
  Are you the partner – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/ifm-soft-stop-answer" method="post">
  
        <h1 class="govuk-heading-l">You may not be able to get a Funeral Expenses Payment</h1>
       
        <p class="govbody">Usually it is only a surviving parent or adult child of the person who died that can get a Funeral Expenses Payment.</p>

        <h2 class="govuk-heading-m govuk-!-padding-top-2">If all surviving parents and adult children cannot apply</h2>
        <p class="govuk-body">You may be able to get a Funeral Expenses Payment if their relationship had broken down, or if all surviving parents and adult children are either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>in full-time education</li>
          <li>living outside the UK</li>
          <li>staying in hospital</li>
          <li>living in a care home</li>
          <li>in prison or remand</li>
          <li>a fully-maintained member of a religious order</li>
        </ul>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
    
              {{ govukRadios({
                name: "ifmsoftstop",
                values: data["ifmsoftstop"],
                fieldset: {
                  legend: {
                    text: "Do you want to continue your application?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no", 
                    text: "No"
                  }
                ]
              }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
