{% extends "layouts/main.html" %}

{% block pageTitle %}
  Are you the partner – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/relationship-to-deceased-answer" method="post">

        <h1 class="govuk-heading-l">
          Your relationship to the person who died
        </h1>

        {% if (data['youhavepartner'] == "yes") %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "relationshiptodeceased",
          values: data["relationshiptodeceased"],
          fieldset: {
            legend: {
              text: "Are you, or your partner:"
            }
          },
          items: [
            {
              value: "childofdeceased",
              text: "the child of the person who died"
            },
            {
              value: "parentofdeceased",
              text: "the parent of the person who died"
            },
            {
              divider: "or"
            },
            {
              value: "crofdeceased",
              text: "Another relative or friend"
            }
          ]
        }) }}

        {% else %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "relationshiptodeceased",
          values: data["relationshiptodeceased"],
          fieldset: {
            legend: {
              text: "Are you:"
            }
          },
          items: [
            {
              value: "childofdeceased",
              text: "The child of the person who died"
            },
            {
              value: "parentofdeceased",
              text: "The parent of the person who died"
            },
            {
              divider: "or"
            },
            {
              value: "crofdeceased",
              text: "Another relative or friend",
              hint: {
                text: "This includes step-parents and step-children."
              }
            }
          ]
        }) }}

        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
