{% extends "layouts/main.html" %}

{% block pageTitle %}
  Money in accounts – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set emailHtml %}
{{ govukInput({
  id: "contact-by-email",
  name: "contactByEmail",
  type: "tel",
  autocomplete: "tel",
  spellcheck: false,
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  label: {
    text: ""
  }
}) }}
{% endset -%}

{% set yes1Html %}
{{ govukInput({
  id: "contact-by-email",
  name: "yes",
  type: "yes",
  autocomplete: "email",
  spellcheck: false,
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  label: {
    text: ""
  }
}) }}
{% endset -%}

{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: "Do you know the value of any prepaid funeral plans?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "email",
      text: "Yes",
      conditional: {
        html: emailHtml
      }
    },
    {
      value: "phone",
      text: "No",
      conditional: {
        html: phoneHtml
      }
    }
  ]
}) }}
      

      <form class="form" action="" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
