{% extends "layouts/main.html" %}

{% block pageTitle %}
  Are you the partner – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v6/appointee/personal" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "",
  values: data[""],
  fieldset: {
    legend: {
      text: "Which of the following best describes the reason you're making a claim for someone else?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "personal",
      text: "You're a personal appointee",
      hint: {
        text: "Someone appointed to act for the person who wants help with the funeral costs."
      }
    },
    {
      value: "corporate",
      text: "You're a corporate appointee",
      hint: {
        text: "An organisation appointed to act for the person who wants help with the funeral costs."
      }
    },
    {
      divider: "or"
    },
    {
      value: "helping",
      text: "You're helping someone make this claim",
      hint: {
        text: "(do we want hint here)"
      }
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
