{% extends "layouts/main.html" %}

{% block pageTitle %}
  Existing details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  If we need to make payments to you, where do you want this paid?
                </h1>
              </legend>    
              <div id="signIn-hint" class="govuk-hint">
                The same account as:
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                    Income Support
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                    Income-based Jobseeker's Allowance
                  </label>
                </div>
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="abroad">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-6">
                    Another account
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
      

      <form class="form" action="/contact/phone" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
