{% extends "layouts/main.html" %}

{% block pageTitle %}
  Burial club – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/burialclub-answer-v5" method="post">

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Ask participant about this question
            </h2>
          </div>
        </div>

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "burialclub",
            values: data["burialclub"],
            fieldset: {
              legend: {
                text: "Were they part of a burial society or club?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
          },
          hint: {
            text: "This is a society or club that helps pay for the funeral, usually because the person who died paid it a regular fee."
          },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              },
              {
                divider: "or"
              },
              {
                value: "dontknow",
                text: "Don't know"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
