{% extends "layouts/main.html" %}

{% block pageTitle %}
  Exemption list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/child-exemption-answer2" method="post">

      <h1 class="govuk-heading-l">Do any of the following apply to {{ data['fullnamechild2'] }}?</h1>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "childexemption2",
        values: data["childexemption2"],
        fieldset: {
          legend: {
          }
        },
        items: [
        {
          value: "Full-time education",
          text: "In full-time education"
        },
        {
          value: "Outside UK",
          text: "Living outside the UK"
        },
        {
          value: "In hospital",
          text: "Staying in hospital"
        },
        {
          value: "In a care home",
          text: "Living in a care home that local government helps pay for"
        },
        {
          value: "In prison",
          text: "In prison or remand"
        },
        {
          value: "Member of religious order",
          text: "A fully-maintained member of a religious order"
        },
        {
          divider: "or"
        },
        {
          value: "no",
          text: "None of these"
        }
      ]
    }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
