{% extends "layouts/main.html" %}

{% block pageTitle %}
  Price tool – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

      <h1 class="govuk-heading-l">
        Search local council burial and cremation prices
      </h1>

        <p>
          The amount you will get paid for a burial or cremation will depend on the council area the person lived in when they died.
        </p>

        {{ xGovukAutocomplete({
          id: "country",
          name: "country",
          allowEmpty: false,
          label: {
            isPageHeading: true,
            text: "Enter name of local council"
          },
          classes: "govuk-!-width-two-thirds",
          hint: {
          text: "This must be where the person who died lived"
          },
          items: [
            { text: "North Tyneside Borough Council" },
            { text: "Newcastle Upon Tyne City Council" },
            { text: "North East Lincolnshire Council" },
            { text: "North Lincolnshire Council" },
            { text: "North Northamptonshire Council" },
            { text: "North Somerset Council" },
            { text: "North Yorkshire Council" },
            { text: "Northumberland County Council" },
            { text: "Newark & Sherwood District Council" },
            { text: "Newcastle-Under-Lyme Borough Council" },
            { text: "North East Derbyshire District Council" },
            { text: "North Hertfordshire District Council" },
            { text: "North Kesteven District Council" },
            { text: "North Norfolk District Council" },
            { text: "North West Leicestershire District Council" },
            { text: "North Warwickshire Borough Council" },
            { text: "Norwich City Council" },
            { text: "Nuneaton & Bedworth Borough Council" },
            { text: "North Devon District Council" }
          ]
        }) }}

        



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
