{% extends "layouts/main.html" %}

{% block pageTitle %}
  Price tool – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

      <h1 class="govuk-heading-l">
        Search local council burial and cremation prices
      </h1>

        <p>
          The amount you will get paid for a burial or cremation will depend on the council area the person lived in when they died.
        </p>

        <div class="govuk-form-group">
          <label class="govuk-label" for="postcode">
              Enter postcode of person who died
          </label>
          <div id="postcode-hint" class="govuk-hint">
              For example, AA3 1AB.
          </div><input class="govuk-input govuk-!-width-two-thirds" id="postcode" name="postcode" type="text" aria-describedby="postcode-hint">
          </div>          

        {{ govukButton({
          text: "Search"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
