{% extends "layouts/main.html" %}

{% block pageTitle %}
  Money available – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <h1 class="govuk-heading-l">
        Money available
      </h1>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set emailHtml %}
{{ govukInput({
  id: "contact-by-email",
  name: "contactByEmail",
  type: "email",
  autocomplete: "email",
  spellcheck: false,
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  label: {
    text: ""
  }
}) }}
{% endset -%}

{% set yes1Html %}
{{ govukInput({
  id: "contact-by-email",
  name: "yes",
  type: "yes",
  autocomplete: "email",
  spellcheck: false,
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  label: {
    text: ""
  }
}) }}
{% endset -%}

{% set lifeHtml %}
{{ govukInput({
  id: "contact-by-email",
  name: "life",
  type: "life",
  autocomplete: "email",
  spellcheck: false,
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  label: {
    text: ""
  }
}) }}
{% endset -%}

{% set isaHtml %}
{{ govukInput({
  id: "contact-by-email",
  name: "isa",
  type: "isa",
  autocomplete: "email",
  spellcheck: false,
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  label: {
    text: ""
  }
}) }}
{% endset -%}

{% set burialHtml %}
{{ govukInput({
  id: "contact-by-email",
  name: "burial",
  type: "burial",
  autocomplete: "email",
  spellcheck: false,
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  label: {
    text: ""
  }
}) }}
{% endset -%}

{% set planHtml %}
{{ govukInput({
  id: "contact-by-email",
  name: "plan",
  type: "plan",
  autocomplete: "email",
  spellcheck: false,
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  label: {
    text: ""
  }
}) }}
{% endset -%}

{% set pensionHtml %}
{{ govukInput({
  id: "contact-by-email",
  name: "pension",
  type: "pension",
  autocomplete: "email",
  spellcheck: false,
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  label: {
    text: ""
  }
}) }}
{% endset -%}


{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: "Do you know how much money they had in bank accounts on the day they died?"
    }
  },
  items: [
    {
      value: "email",
      text: "Yes",
      conditional: {
        html: emailHtml
      }
    },
    {
      value: "phone",
      text: "No, I don't know how much",
      conditional: {
        html: phoneHtml
      }
    },
    {
      divider: "or"
    },
    {
      value: "text",
      text: "They didn't have any bank accounts",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}

{{ govukRadios({
  name: "yes",
  fieldset: {
    legend: {
      text: "Do you know how much cash they had on the day they died?"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: yes1Html
      }
    },
    {
      value: "phone",
      text: "No, I don't know how much",
      conditional: {
        html: phoneHtml
      }
    },
    {
      divider: "or"
    },
    {
      value: "text",
      text: "They didn't have any cash",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}

{{ govukRadios({
  name: "life",
  fieldset: {
    legend: {
      text: "Do you know the value of any life insurances policies they had?"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: lifeHtml
      }
    },
    {
      value: "phone",
      text: "No, I don't know the value",
      conditional: {
        html: phoneHtml
      }
    },
    {
      divider: "or"
    },
    {
      value: "text",
      text: "They didn't have any life insurance policies",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}

{{ govukRadios({
  name: "isa",
  fieldset: {
    legend: {
      text: "Do you know how much they had in ISAs on the day they died?"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: isaHtml
      }
    },
    {
      value: "phone",
      text: "No, I don't know how much",
      conditional: {
        html: phoneHtml
      }
    },
    {
      divider: "or"
    },
    {
      value: "text",
      text: "They didn't have any ISAs",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}

{{ govukRadios({
  name: "burial",
  fieldset: {
    legend: {
      text: "Do you know how much they will receive from a burial club?"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: burialHtml
      }
    },
    {
      value: "phone",
      text: "No, I don't know how much they will receive",
      conditional: {
        html: phoneHtml
      }
    },
    {
      divider: "or"
    },
    {
      value: "text",
      text: "They were not a member of a burial club",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}

{{ govukRadios({
  name: "plan",
  fieldset: {
    legend: {
      text: "Do you know the value of any prepaid funeral plans?"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: planHtml
      }
    },
    {
      value: "phone",
      text: "No, I don't know the value",
      conditional: {
        html: phoneHtml
      }
    },
    {
      divider: "or"
    },
    {
      value: "text",
      text: "They didn't have any prepaid funeral plans",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}

{{ govukRadios({
  name: "pension",
  fieldset: {
    legend: {
      text: "Do you know the value of any occupational pension schemes they were part of?"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: pensionHtml
      }
    },
    {
      value: "phone",
      text: "No, I don't know the value",
      conditional: {
        html: phoneHtml
      }
    },
    {
      divider: "or"
    },
    {
      value: "text",
      text: "They didn't have an occupational pension",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}

      

      <form class="form" action="/estate/war-pension-grant" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
