{% extends "layouts/main.html" %}

{% block pageTitle %}
  Address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What address can we send letters to?
            </h1>
          </legend>
          
          <div class="govuk-form-group">
            <label class="govuk-label" for="postcode">
                Postcode
            </label>
            <div id="postcode-hint" class="govuk-hint">
                For example, AA3 1AB.
            </div><input class="govuk-input govuk-!-width-two-thirds" id="postcode" name="postcode" type="text" aria-describedby="postcode-hint">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="searchString">
                  Building number or name
              </label>
              <div id="searchString-hint" class="govuk-hint">
                  For example, 15 or Prospect Cottage.
              </div>
              <div><input class="govuk-input govuk-!-width-two-thirds" id="searchString" name="searchString" type="text" aria-describedby="searchString-hint"></div>
              <div class="govuk-!-padding-bottom-4"></div>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Find address
            </button>
    
            <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Enter address manually</a></p>
    
            <div class="govuk-!-padding-bottom-4"></div>
      

      <form class="form" action="/contact/email" method="post">

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
