{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">You cannot get Funeral Expenses Payment</h1>


       <div><td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--red">
            Not eligible
          </strong>
        </td>
      </div> 

      <p class="govuk-body govuk-!-margin-bottom-4"></p>

      <div class="govuk-form-group">          
        <p class="govuk-body govuk-!-font-size-19">To be eligible, the funeral must have taken place in the last 6 months.</p>

        <p class="govuk-body govuk-!-font-size-19">If you want this decision in writing you can finish your application even though you cannot get Funeral Expenses Payment.
        </p>

        <p class="govuk-body govuk-!-font-size-19"><a href="relationship1">Get a decision in writing</a> </p>
          </fieldset>
                

    </div>
  </div>

{% endblock %}
