{% extends "layouts/main.html" %}

{% block pageTitle %}
  You must get a qualifying benefit to get a Funeral Expenses Payment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "app/views/includes/phase-banner.html" %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <form class="form" action="/qb-kickout-answer-v9" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       You must get a qualifying benefit to get a Funeral Expenses Payment
      </h1>

      {% from "govuk/components/details/macro.njk" import govukDetails %}

      {% call govukDetails({
        summaryText: "What is a qualifying benefit?"
      }) %}
        <p class="govuk-body">
          You must be getting, or waiting to hear about one the following:
        </p>

        <ul class="govuk-list govuk-list--bullet">
        <li>Universal Credit</li>
        <li>Income Support</li>
        <li>Income-based Jobseeker's Allowance</li>
        <li>Income-related Employment and Support Allowance</li>
        <li>Pension Credit</li>
        <li>Housing Benefit</li>
        <li>Support for Mortgage Interest</li>
        </ul>
      {% endcall %}

      <p class="govuk-body">
        You can still make a claim if you think you're eligible for a benefit but have not applied yet.
      </p>

      <p class="govuk-body">
        We cannot process your application until your benefit claim is complete. 
      </p>

      <p class="govuk-body">
        You can find out what benefits you may be entitled to by going to GOV.UK and searching for ‘benefits calculator’.
      </p>
      
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
  
      {{ govukRadios({
        name: "nobenefitcontinue",
        values: data["nobenefitcontinue"],
        fieldset: {
          legend: {
            text: "Do you want to continue your application?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no", 
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}  

      </form>


    </div>
  </div>

{% endblock %}
