{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Examples of how much you could get
      </h1>

      <h2 class="govuk-heading-m">Example A</h2>

      <p>The person who died was over 18 and lived in Northumberland. They had £150 in a bank account on the day they died. 
      </p>

      <p>The person who's responsible for the funeral needed to give the bank a death certificate to release the money. They would be able to get a total payment of £1,781</p>

      <form class="form" action="/path/of/next/page" method="post">

        <table class="govuk-table">
          <thead class="govuk-table__head">
           <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Payment</th>
            <th scope="col" class="govuk-table__header">Amount</th>
           </tr>
          </thead>
          <tbody class="govuk-table__body">
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Cremation costs</strong><br>
            <br>
            This is the fee charged by Northumberland County Council.</td>
            <td class="govuk-table__cell">£920</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Document costs</strong><br>
            <br>
            Death Certificate to release money from the bank account of the person who died.</td>
            <td class="govuk-table__cell">£11</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Travel costs</strong><br>
            <br>
            The person responsible did not have any travel costs to arrange or attend the funeral.</td>
            <td class="govuk-table__cell">£0</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Cost of moving the body</strong><br>
            <br>
            There were no costs to move the person who died over 50 miles to the funeral location.</td>
            <td class="govuk-table__cell">£0</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Other funeral costs</strong><br>
            <br>
            This is the maximum amount you can get towards costs such as funeral director fees, a coffin or flowers. </td>
            <td class="govuk-table__cell">£1,000</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Deductions</strong><br>
            <br>
            The person who died had £150 in a bank account which the person responsible for paying for the funeral has access to.</td>
            <td class="govuk-table__cell">-£150</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Total</strong></td>
            <td class="govuk-table__cell"><strong>£1,781</strong></td>
           </tr>
          </tbody>
         </table>
         <br><br>

         <h2 class="govuk-heading-m">Example B</h2>

      <p>The person who died was over 18 and lived in Rotherham and wanted to be buried in a family plot in Sheffield.
      </p>

      <p>The person who's responsible for the funeral lives in Cambridge and needed to travel to Sheffield for the funeral. They would be able to get a total payment of £2,182</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
           <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Payment</th>
            <th scope="col" class="govuk-table__header">Amount</th>
           </tr>
          </thead>
          <tbody class="govuk-table__body">
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Burial costs</strong><br>
            <br>
            This is the amount that would be charged by Rotherham Borough Council, where the person who died lived. The burial fee charged by Sheffield City council is more, so the amount for the burial costs will be less than the actual burial fee.</td>
            <td class="govuk-table__cell">£1,232</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Document costs</strong><br>
            <br>
            The person responsible for the funeral did not need to pay for any documents like a copy of the death certificate.</td>
            <td class="govuk-table__cell">£0</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Travel costs</strong><br>
            <br>
            The person responsible for the funeral lived in Cambridge and needed to travel to Sheffield to attend the funeral.</td>
            <td class="govuk-table__cell">£55</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Cost of moving the body</strong><br>
            <br>
            There were no costs to move the person who died over 50 miles to the funeral location.</td>
            <td class="govuk-table__cell">£0</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Other funeral costs</strong><br>
            <br>
            The other funeral costs, including funeral director fees and coffin, was less than the maximum amount of £1000.</td>
            <td class="govuk-table__cell">£895</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Deductions</strong><br>
            <br>
            No money would be deducted as the person who died did not have any money, life insurance or funeral plans.</td>
            <td class="govuk-table__cell">£0</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Total</strong></td>
            <td class="govuk-table__cell"><strong>£2,182</strong></td>
           </tr>
          </tbody>
         </table>
         <br>

      </form>

    </div>
  </div>

{% endblock %}
