{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How much you could get
      </h1>

      <h2 class="govuk-heading-m">Example B</h2>

      <p>The person who died was over 18 and lived in Rotherham and wanted to be buried in a family plot in Sheffield.
      </p>

      <p>The person who's responsible for the funeral lives in Cambridge and needed to travel to Sheffield for the funeral. They would be able to get a total payment of £2182.</p>

      <form class="form" action="/path/of/next/page" method="post">

        <table class="govuk-table">
          <thead class="govuk-table__head">
           <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Payment</th>
            <th scope="col" class="govuk-table__header">Amount</th>
           </tr>
          </thead>
          <tbody class="govuk-table__body">
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Burial costs</strong><br>
            <br>
            This is the Rotherham Borough Council fee [explain why this is paid]</td>
            <td class="govuk-table__cell">£1232</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Document costs</strong><br>
            <br>
            The person responsible for the funeral did not need to pay for any documents like a copy of the death certificate.</td>
            <td class="govuk-table__cell">£0</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Travel costs</strong><br>
            <br>
            The person responsible for the funeral lived in Cambridge and needed to travel to Sheffield to attend the funeral.</td>
            <td class="govuk-table__cell">£55</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Cost of moving the body</strong><br>
            <br>
            There were no costs to move the person who died over 50 miles to the funeral location.</td>
            <td class="govuk-table__cell">£0</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Other funeral costs</strong><br>
            <br>
            The other funeral costs, including funeral director fees and coffin, was less than the maximum amount of £1000.</td>
            <td class="govuk-table__cell">£895</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Deductions</strong><br>
            <br>
            No money would be deducted as the person who died did not have any money, life insurance or funeral plans.</td>
            <td class="govuk-table__cell">£0</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Total</strong></td>
            <td class="govuk-table__cell"><strong>£2,182</strong></td>
           </tr>
          </tbody>
         </table>

      </form>

    </div>
  </div>

{% endblock %}
