{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
              Sprint 6: 1st round Gov.uk FEP testing &nbsp;  <strong class="govuk-tag govuk-tag--blue">Alpha</strong>
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
            <p class="govuk-body govuk-!-font-size-19">Testing hypotheses 3 & 4 on the Gov.uk pages for FEP.</p>
            <p class="govuk-body govuk-!-font-size-19">This UR is citizen facing.</p>
            <p class="govuk-body govuk-!-font-size-19">The focus for this testing is:</p>
            <li>[placeholder]</li>
          </div>
        </div>
        <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

          <p class="govuk-body">
            <a href="https://www.gov.uk/funeral-payments" class="govuk-link" rel="noreferrer noopener" target="_blank">Get help with funeral costs (Gov.uk)</a>
          </p>

          <p class="govuk-body">
            <a href="/v3/funeral-bill" class="govuk-link" rel="noreferrer noopener" target="_blank">Funeral bill</a>
          </p>

          <button onclick="javascript:location.href='/v2/eligibility/start-page'" class="govuk-button" data-module="govuk-button">
            Gov.uk pages (new)
          </button>


          <p class="govuk-body"><B>Quick links:
          </b></p>           
            <ol class="govuk-list govuk-list--number">
              <li><a href="/v3/gov/how-it-works">/gov-how-it-works</a></li>
              <li><a href="/v3/gov/eligibility">/gov-eligibility</a></li>
              <li><a href="/v3/gov/what-youll-get">/gov-what-youll-get</a></li>
              <li><a href="/v3/gov/make-a-claim">/gov-make-a-claim</a></li>
              <li><a href="/v3/price/postcode-search">/price-search-by-postcode</a></li>
              <li><a href="/v3/checker/start">/eligibility-checker</a></li>

        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
              Sprint 5: 2nd round usability testing &nbsp;  <strong class="govuk-tag govuk-tag--blue">Alpha</strong>
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
            <p class="govuk-body govuk-!-font-size-19">Testing hypotheses 1, 2, & 4 on the FEP telephony form.</p>
            <p class="govuk-body govuk-!-font-size-19">This is agent facing testing with Core Bereavement agents.</p>
            <p class="govuk-body govuk-!-font-size-19">The focus for this testing is:</p>
            <li>reorder of eligibility questions</li>
            <li>updated content on relationship to person who died question</li>
            <li>A/B testing on adding other IFM's</li>
            <li>A/B testing on capturing available money</li>
            <li>updated content on list of exemption reasons</li>
          </div>
        </div>
        <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

          <button onclick="javascript:location.href='/v2/eligibility/start-page'" class="govuk-button" data-module="govuk-button">
            Eligibility
          </button>
          <button onclick="javascript:location.href='/v2/a-ifm/start'" class="govuk-button" data-module="govuk-button">
            Scenario A
          </button>
          <button onclick="javascript:location.href='/v2/b-ifm/start'" class="govuk-button" data-module="govuk-button">
            Scenario B
          </button>
          <button onclick="javascript:location.href='/v2/a-money/start'" class="govuk-button" data-module="govuk-button">
            Scenario C
          </button>
          <button onclick="javascript:location.href='/v2/b-money/start'" class="govuk-button" data-module="govuk-button">
            Scenario D
          </button>

          <p class="govuk-body"><B>Quick links:
          </b></p>           
            <ol class="govuk-list govuk-list--number">
              <li><a href="/v2/a-ifm/exemption-list">/exemption-list</a></li>
              <li><a href="/v2/eligibility/relationship-to-deceased">/relationship-to-person-who-died</a></li>
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
              Sprint 4: 1st round usability testing &nbsp;  <strong class="govuk-tag govuk-tag--blue">Alpha</strong>
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
            <p class="govuk-body govuk-!-font-size-19">Testing hypotheses 1, 2, & 4 on the FEP telephony form.</p>
            <p class="govuk-body govuk-!-font-size-19">This is agent facing testing with Core Bereavement agents.</p>
            <p class="govuk-body govuk-!-font-size-19">The focus for this testing is:</p>
            <li>A/B test on are you responsibile for paying for the funeral question</li>
            <li>add a list pattern for other IFM's</li>
            <li>question set around capturing other available money</li>
            <li>interrurption page before adding other ifms</li>
            <li>eligibility section and kick out screens</li>
            <li>removal of subjective questions</li>
          </div>
        </div>
        <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

          <button onclick="javascript:location.href='/v1/about-the-caller-a'" class="govuk-button" data-module="govuk-button">
            Screen A
          </button>

          <button onclick="javascript:location.href='/v1/about-the-caller'" class="govuk-button" data-module="govuk-button">
            Screen B
          </button>

          <button onclick="javascript:location.href='/v1/a/about-the-caller-a'" class="govuk-button" data-module="govuk-button">
            Start claim A
          </button>

          <button onclick="javascript:location.href='/v1/eligibility/about-the-caller'" class="govuk-button" data-module="govuk-button">
            Start claim B
          </button>

          <p class="govuk-body"><B>Quick links:
          </b></p>           
            <ol class="govuk-list govuk-list--number">
              <li><a href="/about-the-caller-a">/about-caller-a</a></li>
              <li><a href="/about-the-caller">/about-caller-b</a></li>
              <li><a href="/responsibility/surviving-ifm">/add-other-ifms</a></li>
              <li><a href="/estate/money-available">/available-money</a></li>
              <li><a href="/responsibility/interruption">/interruption-page-other-ifms</a></li>
              <li><a href="/eligibility/kick-out-over-6-months">/funeral-over-6-months-kick-out</a></li>
        </div>
      </div>

  </div>
</div>

{% endblock %}
