{% extends "layouts/main.html" %}

{% block pageTitle %}
  Claim submitted – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Your claim for a Funeral Expenses Payment has been submitted",
        html: ""
      }) }}

      <p>
        It currently takes 3 to 4 weeks to process a claim.
      </p>


      {# -----------------MASTER LIST----------------

      <h2 class="govuk-heading-m">
        What we need
      </h2>

      <p class="govuk-body">
        Before we can process your claim we need a copy of:
      </p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>the funeral bill/signed contract/funeral bill or signed contract/the bill from the local authority and any other services used for the funeral</li>
        <li>the receipt for flowers or wreath, service sheet, [description of other cost]</li>
        <li>the receipts for your travel costs</li>
        <li>any final statements from the accounts of the person who died</li>
        <li>any documents from the pre-paid funeral plan provider that shows what they are paying for</li>
      </ul>

      <p class="govuk-body">
        You will need to check if the person who died had any bank accounts, ISAs, cash, lump sum pension payments, pre-paid funeral plans, burial society payments, War Pension Funeral Grants, other money.
      </p>
      
      <p class="govuk-body">
        We cannot pay for any costs that are covered by a pre-paid funeral plan.
      </p>

      <h2 class="govuk-heading-m">
        How to send it
      </h2>
      <p>
        You can send us what we need by email or post.
      </p>
      <p>
        You’ll need to include your full name, address and National Insurance number with anything you send, so we can match it to your claim.
      </p>
      <h3 class="govuk-heading-s">
        Email
      </h3>
      <p>
        funeral.bills@dwp.gov.uk
      </p>
      <h3 class="govuk-heading-s">
        Post
      </h3>
      <p>
        Freepost DWP, Funeral Payments
      </p>

      <h2 class="govuk-heading-m">
        What we will do next
      </h2>

      <p class="govuk-body">
        We will contact the person:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>responsible for the financial affairs of the person who died</li>
        <li>applying for probate, letters of administration or confirmation to ask if there is any money available from the estate</li>
      </ul>

      <p class="govuk-body">
        We will contact the [FD] for a copy of the funeral bill. If you can get a copy from them, or ask them to send it to us, we may be able to process your claim faster. 
      </p>

      #}
      



      {# -----------------EXAMPLE 1---------------- 

      <h2 class="govuk-heading-m">
        What we need
      </h2>

      <p class="govuk-body">
        Before we can process your claim we need a copy of:
      </p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>the signed contract</li>
        <li>the receipt for flowers or wreath</li>
        <li>the receipts for your travel costs</li>
        <li>any final statements from the accounts of the person who died</li>
      </ul>


      <h2 class="govuk-heading-m">
        How to send it
      </h2>
      <p>
        You can send us what we need by post or take it to your local Jobcentre Plus.
      </p>
      <h3 class="govuk-heading-s">
        Post
      </h3>
      <p>
        You'll need to include your full name, address and National Insurance number with anything you send, 
        so we can match it to your claim. You do not need a postcode or a stamp.
      </p>
      <div class="govuk-inset-text">
        Freepost<br/>
        DWP Funeral Payments
      </div>

      #}

      
      {# -----------------EXAMPLE 2---------------- #}

      <h2 class="govuk-heading-m">
        What we need
      </h2>

      <p class="govuk-body">
        Before we can process your claim we need a copy of:
      </p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>the receipt for flowers or wreath, service sheet</li>
        <li>the receipts for your travel costs</li>
      </ul>

      <p class="govuk-body">
        You will need to check if the person who died had any ISAs, cash. 
      </p>


      <h2 class="govuk-heading-m">
        How to send it
      </h2>
      <p>
        You can send us what we need by post or take it to your local Jobcentre Plus.
      </p>
      <h3 class="govuk-heading-s">
        Post
      </h3>
      <p>
        You'll need to include your full name, address and National Insurance number with anything you send, 
        so we can match it to your claim. You do not need a postcode or a stamp.
      </p>
      <div class="govuk-inset-text">
        Freepost<br/>
        DWP Funeral Payments
      </div>

      <h2 class="govuk-heading-m">
        What we will do next
      </h2>

      <p class="govuk-body">
        We will contact the person:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>responsible for the financial affairs of the person who died</li>
        <li>applying for probate, letters of administration or confirmation to ask if there is any money available from the estate</li>
      </ul>

      <p class="govuk-body">
        We will contact the organisation or person from the community for a copy of the funeral bill. If you can get a copy from them, or ask them to send it to us, we may be able to process your claim faster.  
      </p>

    

      
      {# -----------------EXAMPLE 3---------------- 

      <h2 class="govuk-heading-m">
        What we need
      </h2>

      <p class="govuk-body">
        Before we can process your claim we need a copy of:
      </p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>the bill from the local authority and any other services used for the funeral</li>
        <li>the receipt for flowers or wreath</li>
      </ul>

      <p class="govuk-body">
        You will need to check if the person who died had any ISAs, lump sum pension payments, other money. 
      </p>


      <h2 class="govuk-heading-m">
        How to send it
      </h2>
      <p>
        You can send us what we need by post or take it to your local Jobcentre Plus.
      </p>
      <h3 class="govuk-heading-s">
        Post
      </h3>
      <p>
        You'll need to include your full name, address and National Insurance number with anything you send, 
        so we can match it to your claim. You do not need a postcode or a stamp.
      </p>
      <div class="govuk-inset-text">
        Freepost<br/>
        DWP Funeral Payments
      </div>

      <h2 class="govuk-heading-m">
        What we will do next
      </h2>

      <p class="govuk-body">
       We will contact the person responsible for the financial affairs of the person who died.  
      </p>

      #}


      {# -----------------EXAMPLE 4---------------- 

      <h2 class="govuk-heading-m">
        What we need
      </h2>

      <p class="govuk-body">
        Before we can process your claim we need a copy of:
      </p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>the funeral bill</li>
        <li>the receipt for flowers or wreath</li>
        <li>the receipts for your travel costs</li>
        <li>any final statements from the accounts of the person who died</li>
        <li>any documents from the pre-paid funeral plan provider that shows what they are paying for</li>
      </ul>

      <p class="govuk-body">
        We cannot pay for any costs that are covered by a pre-paid funeral plan. 
      </p>


      <h2 class="govuk-heading-m">
        How to send it
      </h2>
      <p>
        You can send us what we need by post or take it to your local Jobcentre Plus.
      </p>
      <h3 class="govuk-heading-s">
        Post
      </h3>
      <p>
        You'll need to include your full name, address and National Insurance number with anything you send, 
        so we can match it to your claim. You do not need a postcode or a stamp.
      </p>
      <div class="govuk-inset-text">
        Freepost<br/>
        DWP Funeral Payments
      </div>

      #}



      {# -----------------EXAMPLE 5---------------- 

      <h2 class="govuk-heading-m">
        What we need
      </h2>

      <p class="govuk-body">
        Before we can process your claim we need a copy of the funeral bill.
      </p>


      <h2 class="govuk-heading-m">
        How to send it
      </h2>
      <p>
        You can send us what we need by post or take it to your local Jobcentre Plus.
      </p>
      <h3 class="govuk-heading-s">
        Post
      </h3>
      <p>
        You'll need to include your full name, address and National Insurance number with anything you send, 
        so we can match it to your claim. You do not need a postcode or a stamp.
      </p>
      <div class="govuk-inset-text">
        Freepost<br/>
        DWP Funeral Payments
      </div>

      #}

      
      
      <h2 class="govuk-heading-m">
        If you need to contact us
      </h2>
      <p>
        If you have new information about the funeral, call 0800 151 2012 and choose option 3.
      </p>

      <p>
        <a href="/index">
          Back to start
        </a>
      </p>


    </div>
  </div>

{% endblock %}
