{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  
    

        <h1 class="govuk-heading-l">
          Funeral Expenses Payment
        </h1>

        

            <ul class="govuk-grid-row card-group">
                <li class="govuk-grid-column-one-half card-group__item">
                    <div class="card card--clickable" data-test="global-search">
                        <h2 class="govuk-heading-m card__heading">
                            <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">Apply for a Funeral Expenses
Payment</a>
                        </h2>
                        <p class="govuk-body card__description">Take a claim for Funeral Expenses Payment over the phone</p>
                    </div>
                </li>
                
                <li class="govuk-grid-column-one-half card-group__item">
                    <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
                        <h2 class="govuk-heading-m card__heading">
                            <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">Manage a Funeral Expenses
Claim</a>
                        </h2>
                        <p class="govuk-body card__description">Process and pay a claim for Funeral Expenses Payment</p>
                    </div>
                </li>
            </ul>




   
 

{% endblock %}
