{% extends "layouts/main.html" %}

{% block pageTitle %}
  Responsibility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        We're now going to ask you about any surviving parents or children of the person who died
      </h1>

      <form class="form" action="/responsibility/surviving-ifm" method="post">

        <p class="govuk-body">For each relative we’ll ask:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>their name</li>
          <li>if they get any benefits</li>
          <li>about their relationship to the person who died</li>
        </ul>
        <p class="govuk-body">We ask about these relatives to check if you can get a Funeral Expenses Payment.</p>

        <div class="govuk-!-padding-bottom-4"></div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
