{% extends "layouts/main.html" %}

{% block pageTitle %}
  Declaration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v6/contact/application-complete" method="post">

      <h1 class="govuk-heading-l">
        Declaration
      </h1>

      <p>
        You agree the information you have given is correct and complete as far as you know.
      </p>
      <p>
        You understand that if you knowingly give wrong information, you may be prosecuted or need to pay a financial penalty. 
      </p>

        <div class="govuk-!-padding-bottom-4"></div>

        {{ govukButton({
          text: "Submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
