{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start claim – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        We’re now going to ask about you and the person who died
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <p class="govuk-body">We’ll ask your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>name</li>
          <li>date of birth</li>
          <li>National Insurance number</li>
        </ul>

        <p class="govuk-body">For the person who died, we’ll ask their:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>name</li>
          <li>date of birth</li>
          <li>date of death</li>
          <li>National Insurance number</li>
        </ul>
        
        <p>
          We ask these questions for security reasons.
        </p>

        <div class="govuk-!-padding-bottom-4"></div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
