{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="POST">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
              <span class="govuk-caption-l">Eligibility</span>
              Do you have a partner that lives with you?
            </h1>
          </legend>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What we mean by partner
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">A partner is either:</p>
                <ul class="govuk-list govuk-list--bullet">
                 <li>a husband or wife</li>
                 <li>a civil partner</li>
                 <li>someone you lived with as though married or in a civil partnership</li>
                </ul>        
            </div>
          </details>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="next-page" type="radio" value="benefits-partner">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-4" name="next-page" type="radio" value="kick-out-no-qb">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
